.mb-70{
    margin-bottom: 70px;
}

.text-center{
    text-align: center;
}

.pri-heading{
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 22px;
    font-family: 'Poppins', sans-serif;
}

.sec-heading{
    font-size: 20px;
    margin: 0 0 22px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.para{
    font-size: 16px;
    color: #555555;
    margin-bottom: 40px;
}