@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

/*############################### header section css #######################################*/

 .headerSection{
    padding: 100px 0;
    background-color: #fcdb00;
}

.headerSection .navbar-default {
    background: transparent;
    border: 0;
}

.headerSection .navbar-brand {
    padding: 0 15px;
}

.headerSection .navbar-brand img{
    height: 100%;
}

.headerSection .navbar-default .navbar-nav>li>a::after{
    content:'';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #b5ab51;
    transition: all 0.7s linear;
}

.headerSection .navbar-default .navbar-nav>li>a:hover:after,
.headerSection .navbar-default .navbar-nav>li>a:active:after,
.headerSection .navbar-default .navbar-nav>li>a:focus:after{
    width: 100%;
}

.headerSection .navbar-default .navbar-nav>li>a{
    color: #010101;
    font-size: 22px;
    text-transform: capitalize;
    margin-left: 70px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.headerSection .headerInfo{
    margin-top: 70px;
}

.headerSection .linkIcons li {
    display: inline-block;
    margin-right: 40px;
}

.headerSection .linkIcons li a{
    color: #010101;
}

.headerSection .ipadImg{
    max-width: 100%;
}

/*############################### feature section css #################################*/

.featuresSection{
    padding: 100px 0 10px;
}

.featuresSection .thumbnail{
    padding: 20px 20px;
}

.featuresSection .thumbnail .sec-heading{
    color: #010101;
    font-weight: 700;
}

.featuresSection .thumbnail .para{
    margin: 0;
}

/*############################### footer section css #################################*/

.footerSection{
    padding: 100px 0;
    background-color: #010101;
}
.footerSection .pri-heading{
    color: #fbdb00;
}

.footerSection .sec-heading{
    margin-bottom: 40px;
    color: #898989;
}

.footerSection .input-group {
    width: 100%;
}

.input-group .form-control:last-child {
   border-radius: 5px;
}

.footerSection .btn-lg {
    width: 100%;
    background: #fbdb00;
    text-transform: uppercase;
    font-weight: 700;
}

.footerSection .linkIcons li,
.footerSection .linkIcons li a{
    display: inline-block;
}

.footerSection .linkIcons li {
    margin-right: 40px;
}

.footerSection .linkIcons li a{
    color: #fcdb00;
}

.footerSection .footerInfo [class^="col-"] {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
}

.footerSection a,
.footerSection a:focus,
.footerSection a:hover {
    color: #fff;
    text-decoration: none;
}

/* ..........................................media query........................................ */

@media all and (max-width: 992px){
    .headerSection .navbar-default .navbar-nav>li>a {
        margin-left: 10px;
    }
}

@media all and (max-width:768px){
    .headerSection{
        padding: 100px 10px;
    }

    .headerSection .container:first-child .row{
        margin-bottom: 0;
    }

    .headerSection .linkIcons{
        margin-bottom: 30px;
    }

    .headerSection .linkIcons li {
        margin-right: 30px;
    }

    .headerSection .navbar-brand {
        padding: 0 0px;
    }

    .headerSection .navbar-brand img {
        height: 85%;
    }

    .headerSection .navbar-default .navbar-toggle:focus, 
    .headerSection .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }

    .headerSection .navbar-default .navbar-toggle:focus span, 
    .headerSection .navbar-default .navbar-toggle:hover span {
        background-color: #fff;
    }

    .headerSection .headerInfo {
        margin-top: 20px;
    }
   
    .headerSection .navbar-default .navbar-nav>li:hover,
    .headerSection .navbar-default .navbar-nav>li:active,
    .headerSection .navbar-default .navbar-nav>li:focus{
       background-color: #b5ab51;
    }

    .headerSection .navbar-default .navbar-nav>li>a:hover:after,
    .headerSection .navbar-default .navbar-nav>li>a:active:after,
    .headerSection .navbar-default .navbar-nav>li>a:focus:after{
        width: 0%;
    }

    .featuresSection .container >:first-child,
    .featuresSection .container :last-child .thumbnail{
        margin-bottom: 30px;
    }

    .pri-heading{
        font-size: 26px;
    }

    .sec-heading{
        font-size: 18px;
    }

    .featuresSection .thumbnail{
        text-align: center;
    }

    .featuresSection .thumbnail i{
        margin-bottom: 20px;
    }

    .footerSection{
        padding: 100px 0 20px;
    }

    .footerSection .linkIcons li {
        margin-right: 20px;
    }

    .footerSection .footerInfo [class^="col-"]{
        margin-bottom: 20px;
    }
}


